@media screen and(min-width: 1537px){
	.MenuContainer{
		display:none;
	}
	.MenuHeader{
		display:none;
	}
	.MenuIcon{
		display:none;
	}
	.MenuIcon::before,
	.MenuIcon::after{
		display:none;
	}
	.Menu-link{
		display:none;
	}
}